In [6]:
from pyspark.sql import Row

def funcionDF(x):
    return ( Row (nombre=x[0], medallas=x[1], edad=int(x[2])))

medallistasOlimpicos = sc.textFile('medallistasOlimpicos.csv').map(lambda x: x.split(',')).map(funcionDF).collect()
df = sqlContext.createDataFrame(medallistasOlimpicos)
sqlContext.registerDataFrameAsTable(df,'medallistas')
df.registerTempTable('medallistas')

medallistasEdad = sqlContext.sql("select count(medallas) as medallas, edad from medallistas group by edad")
medallistasEdad.show()

+--------+----+
|medallas|edad|
+--------+----+
|       2|  26|
|       2|  50|
|       2|  80|
|       3|  18|
|       2|  21|
|       1|  23|
+--------+----+